@import url('text.css');
@import url('containers.css');
@import url('interactions.css');

:root {
    /*Light Mode*/
    --sapphire: #05668d;
    --steel: #427aa1;
    --alice: #ebf2fa;
    --green: #679436;
    --acid: #a5be00;
}

body {
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow: scroll;
    max-width: 2000px;
}
/*Center screen pass 2000px*/
@media screen and (min-width: 2000px) {
    html,
    body {
        height: 100%;
    }

    html {
        display: table;
        margin: auto;
    }

    body {
        display: table-cell;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
