@import url('text.css');
@import url('containers.css');
@import url('interactions.css');


/* Icons: https://fontawesome.com/v5/search */

:root{
  /*Light Mode*/
  --sapphire : #05668d;
  --steel : #427aa1;
  --alice : #ebf2fa;
  --green : #679436;
  --acid : #a5be00;
}

body {
    overflow: scroll;
}