header {
    display: flex;
    justify-content: space-between;
}

div.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    margin: 0 30px;
}

hr {             
    background-color: var(--acid);
    opacity: 0.1;
    position: absolute;
    margin-top: 170px;
    width: 100%;
    height: 175px;
    z-index: -1;
}

/*Generator Display*/
div.main-display-container {
    margin-top: 30px;

}

hr.display-hr {
    background-color: var(--steel);
    height: 375px;
    margin-top: 0px;
}

img {
    width: 50%;
}

div.minute-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 0px; /*Prevent from adding giant box for interaction*/
}

div.minute-text-container {
    width: 130px;
    white-space: nowrap;
}

div.continue-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Card*/
div.display-card, div.display-card-selected {
    border: 10px solid var(--sapphire);
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.5s;
}

div.display-card-selected {
    border-color: var(--acid);
}

div.group-card {
    /* background-color: var(--steel);
    opacity: 0.6; */
    background-color: var(--alice);
    height: 300px;
}

div.display-card, div.group-card {
    width: 300px;
}

img.inner-card-img{
    margin-top: 30px;
}

/* Jim Wendler */
div.calculator-estimate-container {
    background-color: var(--alice);
    margin: 40px 0px 40px 0px;
    width: 100%;
    text-align: center;
}


div.calculator-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

div.input-container {
    display: flex;
    flex-direction: column;
}

div.calculator-interaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* Generator */
div.generated-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}