/*Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.nav-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 8px;
}

header > div {
    width: 50%;
}

div.marquee {
    background-color: var(--alice);
    border-top: 0.2rem solid var(--steel);
    border-bottom: 0.2rem solid var(--steel);
}

/*Generator Display + Generator*/
span.generated-button-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

div.generated-container {
    margin-top: 20px;
}

div.main-display-container {
    margin-top: 30px;
}

img {
    width: 50%;
}

div.minute-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 0px; /*Prevent from adding giant box for interaction*/
}

div.minute-text-container {
    width: 130px;
    white-space: nowrap;
}

div.continue-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

div.generated-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.set-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 1.5s ease-out 0s 1 fadeInAnimation;
}

div.select-button-container {
    display: flex;
    gap: 20px;
}

/*Card*/
div.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    margin: 0 30px;
}

div.store-container {
    display: flex;
    justify-content: center;
}

@keyframes animateMovement {
    0%,
    100% {
        transform: rotate3d(1, 1, 0, 30deg);
    }

    25% {
        transform: rotate3d(-1, 1, 0, -30deg);
    }

    50% {
        transform: rotate3d(-1, -1, 0, 20deg);
    }

    75% {
        transform: rotate3d(-1, 1, 0, -30deg);
    }
}

div.display-card,
div.display-card-selected {
    border: 10px solid var(--sapphire);
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    /* transition-duration: 2.5s; */
}

div.display-card-selected {
    border-color: var(--acid);
    transition-duration: 1.5s;
    animation: animateMovement 5s infinite;
}

div.group-card {
    /* background-color: var(--steel);
    opacity: 0.6; */
    background-color: var(--alice);
    height: 300px;
}

div.display-card,
div.group-card {
    width: 300px;
}

img.inner-card-img {
    margin-top: 30px;
}

div.loading-container {
    display: flex;
    justify-content: center;
    font-size: 200px;
    color: var(--sapphire);
    margin-top: 30px;
}

/* Calculator */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div.calculator-estimate-container {
    background-color: white;
    display: flex;
    gap: 20px;
    margin: 40px 0px 40px 0px;
    width: 100%;
    text-align: center;
}

div.calculator-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: var(--alice);
    border-top: solid 12px var(--acid);
    border-bottom: solid 12px var(--acid);
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
}

div.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div.calculator-interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

div.calculation-type-container {
    text-align: center;
}

div.display-card-calc {
    border: 10px solid var(--steel);
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    animation: 1.5s ease-out 0s 1 fadeIn;
}

div.group-card-calc {
    background-color: var(--alice);
    height: 150px;
    width: 320px;
}

/* Recent workout */
div.recent-workout-container {
    text-align: center;
    margin-top: 50px;
}

/***************** DIFFERENT VIEW PORTS *****************/

/* Tablet */
@media screen and (max-width: 900px) {
    header > div {
        width: 100%;
    }

    header {
        flex-direction: column;
    }

    div.nav-container {
        margin-right: 0px;
        justify-content: center;
        margin-bottom: 20px;
    }

    div.continue-container {
        flex-direction: column;
        margin-bottom: 30px;
    }

    div.minute-container {
        margin-top: 90px;
        flex-direction: column;
        width: 100%;
    }

    div.minute-text-container {
        width: 100%;
    }

    div.display-card,
    div.group-card-calc,
    div.group-card {
        width: 220px;
    }

    div.group-card {
        height: 220px;
    }
}

/* Phone */
@media screen and (max-width: 480px) {
    div.calculator-interaction {
        flex-direction: column;
    }

    div.continue-container {
        margin-top: 50px;
    }

    div.display-card,
    div.group-card-calc,
    div.group-card {
        width: 190px;
    }

    div.group-card,
    div.group-card-calc {
        height: 120px;
    }

    img {
        width: 30%;
    }

    div.select-button-container {
        flex-direction: column;
        gap: 0px;
    }
}
