header {
    display: flex;
    justify-content: space-between;
}

div.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    margin: 0 30px;
}

hr {             
    background-color: var(--acid);
    opacity: 0.1;
    position: absolute;
    margin-top: 170px;
    width: 100%;
    height: 175px;
    z-index: -1;
}

/*Generator Display*/
div.continue-button-container {
    margin-top: 50px;
    text-align: center;
}

div.main-display-container {
    margin-top: 30px;

}

hr.display-hr {
    background-color: var(--steel);
    height: 375px;
    margin-top: 0px;
}

button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    border: none;
    background-image: linear-gradient(50deg, var(--acid), var(--green));
    cursor: pointer;
    box-shadow: 0.5px 0.5px 2px black;
    transition-duration: 0.5s;
    color: white;
    margin-top: 10px;
}

button:hover {
    background-image: linear-gradient(-200deg, var(--acid), var(--green));
    text-shadow: 3px 3px var(--steel);
}

img {
    width: 50%;
}

div.display-card, div.display-card-selected {
    border: 10px solid var(--sapphire);
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
}

div.display-card-selected {
    border-color: var(--acid);
}

div.group-card {
    background-color: var(--steel);
    opacity: 0.6;
    height: 300px;
}

div.display-card, div.group-card {
    width: 200px;
}

img.inner-card-img{
    margin-top: 30px;
}

div.react-horizontal-scrolling-menu--scroll-container {
    justify-content: center;
}