/*Header*/
button.my-workouts {
    white-space: nowrap;
    font-size: 20px;
}

/*Generator Display*/
div.visibility-button-container {
    margin-top: 50px;
    text-align: center;
}

button {
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    border: none;
    background-image: linear-gradient(50deg, var(--acid), var(--green));
    cursor: pointer;
    transition-duration: 0.5s;
    color: white;
    margin-top: 10px;
}

button:hover {
    background-image: linear-gradient(-200deg, var(--acid), var(--green));
}

button.selected {
    /* background-image: linear-gradient(50deg, var(--sapphire), var(--steel)); */
    background-image: linear-gradient(-200deg, var(--acid), var(--green));
    opacity: 1;
    cursor: pointer;
}
button.selected:hover {
    background-image: linear-gradient(-220deg, var(--acid), var(--green));
    /* background-image: linear-gradient(-100deg, var(--sapphire), var(--steel)); */
}

button.not-selected {
    background-image: linear-gradient(-200deg, var(--acid), var(--green));
    /* background-image: linear-gradient(50deg, var(--sapphire), var(--steel)); */
    cursor: not-allowed;
    opacity: 0.5;
}

button.visibility-button {
    background-image: linear-gradient(50deg, var(--sapphire), var(--steel));
}

button.visibility-button:hover {
    background-image: linear-gradient(-150deg, var(--sapphire), var(--steel));
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background-image: linear-gradient(-100deg, var(--acid), var(--green));
    border-radius: 0.5rem;
    height: 0.5rem;
    cursor: pointer;
    width: 15rem;
}

/* Removes default focus */
input[type='range']:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type='range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(-100deg, var(--acid), var(--green));
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: var(--green);
    height: 2rem;
    width: 1rem;
    border-radius: 0.5rem;
}

input.input-minute {
    width: 20%;
    color: var(--acid);
}

/* Jim Wendler */
button.reset-button {
    background-image: linear-gradient(50deg, var(--sapphire), var(--steel));
    margin-top: 0px;
}

button.reset-button:hover {
    background-image: linear-gradient(-100deg, var(--sapphire), var(--steel));
}

input[type='number'] {
    box-sizing: border-box;
    width: 400px;
    font-weight: 700;
    border: 5px solid #ccc;
    color: var(--green);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 50px;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

input[type='number']:focus {
    border: 5px solid var(--acid);
}

/*Alerts*/
button.MuiButton-root {
    background-image: linear-gradient(50deg, var(--alice), var(--alice));
}
