/*Generator Display*/
div.continue-button-container {
    margin-top: 50px;
    text-align: center;
}

button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    border: none;
    background-image: linear-gradient(50deg, var(--acid), var(--green));
    cursor: pointer;
    transition-duration: 0.5s;
    color: white;
    margin-top: 10px;
}

button:hover {
    background-image: linear-gradient(-200deg, var(--acid), var(--green));
}

button.not-selected {
    background-image: linear-gradient(50deg, var(--sapphire), var(--steel));
    opacity: 0.5;
}

button.not-selected:hover {
    background-image: linear-gradient(-100deg, var(--sapphire), var(--steel));
    cursor: not-allowed;
}

/* Jim Wendler */
button.reset-button {
    padding: 8px 15px 8px 15px;
    background-image: linear-gradient(50deg, var(--sapphire), var(--steel));
    margin-top: 0px;
    font-size: 18px;
}

button.reset-button:hover {
    background-image: linear-gradient(-100deg, var(--sapphire), var(--steel));
}

input[type=number] {
    box-sizing: border-box;
    width: 300px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=number]:focus {
    border: 3px solid var(--acid);
}

