/*Generator Display*/
div.visibility-button-container {
    margin-top: 50px;
    text-align: center;
}

button {
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    border: none;
    background-image: linear-gradient(50deg, var(--acid), var(--green));
    cursor: pointer;
    transition-duration: 0.5s;
    color: white;
    margin-top: 10px;
}

button.disabled {
    background-image: linear-gradient(0, gray, gray);
    opacity: 0.2;
    cursor: not-allowed;
}

button.disabled:hover {
    background-image: linear-gradient(0, gray, gray);
}

button:hover {
    background-image: linear-gradient(-200deg, var(--acid), var(--green));
}

button.selected {
    background-image: linear-gradient(-200deg, var(--acid), var(--green));
    opacity: 1;
    cursor: pointer;
}
button.selected:hover {
    background-image: linear-gradient(-220deg, var(--acid), var(--green));
}

button.selected-page {
    background-image: linear-gradient(50deg, var(--sapphire), var(--steel));
    color: rgb(200, 200, 200);
}

button.not-selected {
    background-image: linear-gradient(-200deg, var(--acid), var(--green));
    cursor: not-allowed;
    opacity: 0.5;
}

button.secondary-button,
button.nav-button {
    background-image: linear-gradient(50deg, var(--sapphire), var(--steel));
}

button.secondary-button:hover,
button.nav-button:hover {
    background-image: linear-gradient(-150deg, var(--sapphire), var(--steel));
}

button.no-recent {
    cursor: not-allowed;
    opacity: 0.5;
}

button.recent {
    cursor: pointer;
    opacity: 1;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background-image: linear-gradient(-100deg, var(--acid), var(--green));
    border-radius: 0.5rem;
    height: 0.5rem;
    cursor: pointer;
    width: 15rem;
}

/* Removes default focus */
input[type='range']:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type='range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(-100deg, var(--acid), var(--green));
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: var(--green);
    height: 2rem;
    width: 1rem;
    border-radius: 0.5rem;
}

input.input-minute {
    width: 20%;
    color: var(--acid);
}

/* Calculator */
button.reset-button {
    background-image: linear-gradient(50deg, var(--sapphire), var(--steel));
    margin-top: 0px;
}

button.reset-button:hover {
    background-image: linear-gradient(-100deg, var(--sapphire), var(--steel));
}

input[type='number'],
input[type='text'],
select {
    box-sizing: border-box;
    width: 400px;
    font-weight: 700;
    border: 5px solid #ccc;
    color: var(--green);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 50px;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

input[type='text'] {
    width: 250px;
}

input[type='number']:focus,
input[type='text']:focus,
select {
    border: 5px solid var(--acid);
}

/*Alerts*/
button.MuiButton-root {
    background-image: linear-gradient(50deg, var(--alice), var(--alice));
}

/* Records Page */
/* NewRecord */
button.react-datepicker__navigation:hover {
    background-image: none;
}

div.pr-info-container > input {
    width: 100%;
}

/***************** DIFFERENT VIEW PORTS *****************/

/* Tablet */
@media screen and (max-width: 900px) {
    button {
        padding: 10px 15px 10px 15px;
        font-size: 18px;
        white-space: nowrap;
    }

    input.input-minute {
        width: 40%;
    }

    input[type='number'],
    input[type='text'],
    select {
        font-size: 18px;
    }

    input[type='text'],
    input[type='number'],
    div.pr-info-container > input,
    select {
        width: 330px;
    }
}

/* Phone */
@media screen and (max-width: 480px) {
    input[type='number'],
    input[type='text'],
    div.pr-info-container > input,
    select {
        width: 230px;
    }
}
