/*App component*/
h1.title {
    color: var(--acid);
    font-size: 48px;
    text-align: center;
    width: 100%;
}

/*SplitDisplay Component*/
h1.rolling-text, h1.rolling-text-odd {
    font-size: 32px;
    white-space: nowrap;
}

h1.rolling-text-odd {
    color: var(--steel);
}

/*Generator Display + Generator*/
label.split-selection-text {
    font-size: 20px;
}

h2.group-text {
    color: var(--green);
    font-size: 32px;
    font-style: oblique;
}

h2.select-text {
    text-align: center;
    color: var(--acid);
    font-size: 28px;
}

p.minute-text {
    color: var(--steel);
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

h2.set-title-text, h2.set-title-text-none {
    font-size: 20px;
    margin-bottom: 0px;
    color: var(--acid);
}

h2.set-title-text-none {
    color: var(--green);
}

h2.today {
    font-size: 28px;
    color: var(--steel);
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
    animation: 1.5s ease-out 0s 1 fadeInAnimation;
}

p.set-text {
    color: var(--steel);
    margin-top: 0px;
    font-size: 18px;
}

p.date {
    font-size: 14px;
    text-align: center;
    color: var(--steel);
    font-weight: 700;
}

/*Jim Wendler*/
@keyframes fadeInAnimation{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

p.rep-text {
    color: var(--green);
    animation: 2.5s ease-out 0s 1 fadeInAnimation;
    font-size: 24px;
}

h2.calc-title-text{
    font-size: 32px;
    color: var(--green);
}

b.weight {
    color: var(--steel);
    font-size: 28px;
}

h2.group-text-calc {
    color: var(--steel);
    font-size: 28px;
}