/*App component*/
h1.title {
    color: var(--acid);
    font-size: 48px;
    text-align: center;
    width: 100%;
}


/*SplitDisplay Component*/
h1.rolling-text, h1.rolling-text-odd {
    font-size: 32px;
    white-space: nowrap;
}

h1.rolling-text-odd {
    color: var(--steel);
}

/*Generator Display*/

label.split-selection-text {
    font-size: 20px;
}

h2.group-text {
    color: var(--green);
    font-size: 32px;
    font-style: oblique;
}

h2.select-text {
    text-align: center;
    color: var(--acid);
    font-size: 28px;
}