/*App component*/
h1.title {
    color: var(--acid);
    font-size: 48px;
    text-align: center;
    width: 100%;
}


/*SplitDisplay Component*/
h1.rolling-text, h1.rolling-text-odd {
    font-size: 32px;
    white-space: nowrap;
}

h1.rolling-text-odd {
    color: var(--steel);
}

/*Generator Display*/
label.split-selection-text {
    font-size: 20px;
}

h2.group-text {
    color: var(--green);
    font-size: 32px;
    font-style: oblique;
}

h2.select-text {
    text-align: center;
    color: var(--acid);
    font-size: 28px;
}

p.minute-text {
    color: var(--steel);
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

/*Jim Wendler*/
@keyframes estimateAnimation{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

p.rep-text {
    color: var(--green);
    animation: 2.5s ease-out 0s 1 estimateAnimation;
    font-size: 22px;
}

b.weight {
    color: var(--steel);
}